[labels-dropdown] {
    .label-dropdown-chip { padding: .35em .65em; }

    .label-dropdown-option.item {
        display: flex !important;
        padding-top: .35rem !important;
        padding-bottom: .35rem !important;

        &:first-child { margin-top: .5rem; }
    }
}
