html, body {
    overflow: hidden;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.wrapper .sidebar,
.main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;
}

.wrapper .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #000;
    background-color: #FFF;
    overflow-x: hidden;
    border-right: 1px solid #CECECE;
}

.sidebar .nav {
    padding: 0 12px;
}


.sidebar .nav li {
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    list-style-type: none;
    cursor: pointer;
}

.sidebar .nav li.active {
    background: #F5F5F5 !important;
}

.sidebar .nav li:hover {
    background: #F5F5F5 !important;
}

.main-panel {
    background: rgba(247, 247, 248, 1);
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
    min-height: 100%;
    overflow: hidden;
}

.main-panel .action.header {
    height: 50px;
    padding: 0 7px;
    background-color: #FFF;
    line-height: 50px;
    border-bottom: 1px solid #CECECE;
    z-index: 1000;
    overflow: hidden;
}

.main-panel .main-content {
    height: calc(100% - 50px);
    overflow: auto;
}

.torrent.table {
    border-radius: 0;
    margin: 0;
    border: none;
    width: 100%;
}

.torrent.table tbody tr {
    cursor: default;
    -webkit-user-select: none;
}

.torrent.progress {
    margin: 0 !important;
    overflow: hidden;
}

.torrent.progress label {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 24.5px;
    text-align: center;
    z-index: 100;
    color: rgba(255, 255, 255, .9);
    font-weight: 700;
}

.torrent.progress .bar {
    min-width: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.torrent.label {
    float: right;
    border-radius: 25px;
}

.torrent.context.menu {
    display: none;
    position:absolute;
    z-index: 1000;
}

.torrent.context.menu .ui.vertical.menu {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

/*.ui.vertical.menu .ui.dropdown.item .menu.upward {
    top: 100% !important;
    border-radius: .28571429rem .28571429rem .28571429rem 0;
}*/

.overlay {
    padding: 20px;
    position: absolute;
    background-color: #F0F0F0;
    height: 100%;
    width: 100%;
    z-index: 100000;
}

.main.wrapper {
    background-color: #F0F0F0;
}

.narrow.column {
    max-width: 450px;
}

/*#########################################*/
/* Overlay Animation */
/*#########################################*/

.overlay.ng-hide-add, .overlay.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  -webkit-transition: 0s cubic-bezier(.24,.78,.35,.99) all;
}

.overlay.ng-hide-add-active,
.overlay.ng-hide-remove-active {
  /* the transition is defined in the active class */
  -webkit-transition: 0.24s cubic-bezier(.24,.78,.35,.99) all;
}

.overlay.ng-hide-add {
    opacity:1;
    transform: scale(1.0);
}

.overlay.ng-hide-add.ng-hide-add-active {
    opacity:0;
    transform: scale(1.1);
}

.overlay.ng-hide-remove {
    opacity: 0;
    transform: scale(1.1);
}

.overlay.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    transform: scale(1.0);
}
