.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.wrapper .sidebar,
.main-panel {
  overflow: auto;
  max-height: 100%;
  height: 100%;
 }

.wrapper .sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #000;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
}

.sidebar .sidebar-wrapper {
  position: relative;
  max-height: none;
  min-height: 100%;
  overflow: hidden;
  width: 260px;
  z-index: 4;
  border-right: 1px solid #CECECE;
}

.sidebar .nav {
    padding: 0 10px;
}

.sidebar .nav li {
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.sidebar .nav li {
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    list-style-type: none;
    cursor: pointer;
}

.sidebar .nav li:hover {
    background: #F5F5F5 !important;
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  overflow-x: hidden;
}

.container .header {
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    padding: 10px 20px;
    background-color: #FFF;
    line-height: 30px;
}

.container .content {
    padding: 20px;
}
