html, body {
    overflow: hidden;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.wrapper .sidebar,
.main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;
}

.wrapper .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #000;
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
    border-right: 1px solid #CECECE;
}

.sidebar .nav {
    padding: 0 12px;
}


.sidebar .nav li {
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    list-style-type: none;
    cursor: pointer;
}

.sidebar .nav li.active {
    background: #F5F5F5 !important;
}

.sidebar .nav li:hover {
    background: #F5F5F5 !important;
}

.main-panel {
    background: rgba(203, 203, 210, 0.15);
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
    min-height: 100%;
    overflow: hidden;
}

.main-panel .action.header {
    height: 50px;
    padding: 0 7px;
    background-color: #FFF;
    line-height: 50px;
    border-bottom: 1px solid #CECECE;
    z-index: 1000;
    overflow: hidden;
}

.main-panel .main-content {
    height: calc(100% - 50px);
    overflow: auto;
}

.torrent.table {
    border-radius: 0;
    margin: 0;
    border: none;
    width: 100%;
}

.torrent.table tbody tr {
    cursor: default;
    -webkit-user-select: none;
}

.torrent.progress {
    margin: 0 !important;
    overflow: hidden;
}

.torrent.progress label {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 24.5px;
    text-align: center;
    z-index: 100;
    color: rgba(255, 255, 255, .9);
    font-weight: 700;
}

.torrent.progress .bar {
    min-width: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.torrent.label {
    float: right;
    border-radius: 25px;
}

.torrent.context.menu {
    display: none;
    position:absolute;
    z-index: 1000;
}

.torrent.context.menu .ui.vertical.menu {
    box-shadow: 0 0 50px #AAA;
}
