<!DOCTYPE html>
<html ng-app="torrentApp">
    <head app-theme>
        <meta charset="UTF-8">
        <title>Electorrent</title>

        <script>
            const themeStylesheet = document.createElement("link");
            themeStylesheet.rel = "stylesheet";
            themeStylesheet.href = `css/themes/${window.electorrent.app.initialTheme}.css`;
            themeStylesheet.setAttribute("ng-href", "css/themes/{{theme}}.css");
            document.head.appendChild(themeStylesheet);
        </script>
    </head>
    <body ready-broadcast>
        <app-shell></app-shell>
    </body>
</html>
