<!DOCTYPE html>
<html ng-app="torrentApp">
    <head app-theme>
        <meta charset="UTF-8">
        <title>Electorrent</title>

        <link rel="stylesheet" href="css/themes/light.css" ng-href="css/themes/{{theme || 'light'}}.css">
    </head>
    <body ready-broadcast>
        <app-shell></app-shell>
    </body>
</html>
