<div id="page-server-selection" class="wrapper">
    <div class="ui middle aligned center aligned grid" style="height: 100%;">
        <div class="narrow column">
            <h2 class="ui image header">
                <div class="content">
                    Connect to Server
                </div>
            </h2>

            <div class="ui one fluid cards server list">
                <div class="card" *ngFor="let server of servers; trackBy: trackServer">
                    <div class="content">
                        <div class="header">
                            <i
                                class="red exclamation triangle icon"
                                *ngIf="!server.isClientKnown()"
                                [attr.title]="getServerWarning(server)">
                            </i>
                            <i
                                class="torrent icon"
                                *ngIf="server.isClientKnown()"
                                [ngClass]="getServerIcon(server)">
                            </i>
                            {{ getServerName(server) }}
                        </div>
                        <div class="meta">
                            {{ getServerAddress(server) }}
                        </div>
                    </div>
                    <button type="button" class="ui bottom attached green button" (click)="connect(server)">
                        Connect
                        <i class="icon right arrow"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
