<div class="torrent-details-panel" data-role="torrent-details-panel" ng-if="ctl.scope.isOpen" ng-style="ctl.panelStyle()">
  <div class="torrent-details-panel-resizer" ng-mousedown="ctl.startResizing($event)"></div>
  <div class="ui top attached tabular menu torrent-details-tabs">
    <a
      class="item"
      data-role="torrent-details-tab-info"
      ng-class="{ active: ctl.isActiveTab('info') }"
      ng-click="ctl.showTab('info')"
    >
      Info
    </a>
    <a
      class="item"
      data-role="torrent-details-tab-files"
      ng-class="{ active: ctl.isActiveTab('files') }"
      ng-click="ctl.showTab('files')"
    >
      Files
    </a>
    <a
      class="item"
      data-role="torrent-details-tab-peers"
      ng-if="ctl.canShowPeers()"
      ng-class="{ active: ctl.isActiveTab('peers') }"
      ng-click="ctl.showTab('peers')"
    >
      Peers
    </a>
    <div class="right menu">
      <a
        class="item"
        data-role="torrent-details-close"
        aria-label="Close torrent details"
        ng-click="ctl.close()"
      >
        <i class="close icon"></i>
      </a>
    </div>
  </div>

  <div class="torrent-details-panel-body">
    <div ng-if="ctl.scope.loading && !ctl.hasActiveTabData()" class="torrent-details-state torrent-details-panel-loader">
      <div class="ui active inline loader"></div>
    </div>

    <div ng-if="ctl.showStateMessage()" class="torrent-details-state torrent-details-message" data-role="torrent-details-message">
      <div class="torrent-details-state-content">
        <i class="big icon" ng-class="ctl.stateMessageIcon()"></i>
        <p>{{ ctl.stateMessageText() }}</p>
      </div>
    </div>

    <torrent-details-info-tab
      ng-if="!ctl.showStateMessage() && ctl.isActiveTab('info')"
      sections="ctl.scope.panel.info.sections"
    ></torrent-details-info-tab>

    <torrent-details-files-tab
      ng-if="!ctl.showStateMessage() && ctl.isActiveTab('files')"
      files="ctl.scope.panel.files"
      resize-mode="ctl.scope.resizeMode"
      resize-profile="ctl.scope.resizeProfile"
      can-select-files="ctl.canSelectFiles()"
      update-selection="ctl.updateFileSelection(files, wanted)"
    ></torrent-details-files-tab>

    <torrent-details-peers-tab
      ng-if="!ctl.showStateMessage() && ctl.isActiveTab('peers')"
      peers="ctl.scope.panel.peers"
    ></torrent-details-peers-tab>
  </div>
</div>
