<!DOCTYPE html>
<h1>Connection</h1>
<form class="ui form" id="loginForm" ng-class="{loading: connecting}" onsubmit="return false;">
    <div class="two fields">
        <div class="field ten wide">
            <label>IP Address</label>
            <div class="ui left icon input">
                <i class="world icon"></i>
                <input type="text" name="ip" ng-model="settings.server.ip" placeholder="IP Address">
            </div>
        </div>
        <div class="field six wide">
            <label>Port Number</label>
            <div class="ui left icon input">
                <i class="sitemap icon"></i>
                <input type="number" name="port" ng-model="settings.server.port" placeholder="Port">
            </div>
        </div>
    </div>
    <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" ng-model="settings.server.user" placeholder="Username">
        </div>
    </div>
    <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" ng-model="settings.server.password" placeholder="Password">
        </div>
    </div>
</form>
