<!DOCTYPE html>
<h1>General Settings</h1>
<div class="ui large divided list">
    <div class="item">
        <div class="right floated middle aligned content">
            <div checkbox class="ui toggle checkbox"
                bind="general.magnets"
                is-checked="general.magnets">
                <input type="checkbox" tabindex="0" class="hidden">
            </div>
        </div>
        <i class="large magnet middle aligned icon"></i>
        <div class="middle aligned content">
            <div class="header">
                Magnet Links
            </div>
            <div class="description">
                Enabling this makes Electorrent the default program for magnet links
            </div>
        </div>
    </div>
</div>
