<!DOCTYPE html>
<h1>General Settings</h1>
<div class="ui three doubling stackable cards">
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="asterisk icon"></i>
                Startup Connection
            </div>
            <div class="description">
                Configure which server to connect to when starting the application
            </div>
        </div>
        <div class="center aligned extra content">
            <dropdown class="fluid" title="Connection Mode" ng-model="settings.startup">
                <dropdown-group data-value="default">Default</dropdown-group>
                <dropdown-group data-value="ask">Ask</dropdown-group>
                <dropdown-group data-value="latest">Latest</dropdown-group>
            </dropdown>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="text height icon"></i>
                Display Size
            </div>
            <div class="description">
                Adjust for your screen size
            </div>
        </div>
        <div class="center aligned extra content">
            <dropdown class="fluid" title="Display Size" ng-model="settings.ui.displaySize">
                <dropdown-group data-value="small">Small</dropdown-group>
                <dropdown-group data-value="normal">Normal</dropdown-group>
                <dropdown-group data-value="large">Large</dropdown-group>
            </dropdown>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="expand icon"></i>
                Table Resize Style
            </div>
            <div class="description">
                Changes how the torrent table behaves when resized
            </div>
        </div>
        <div class="center aligned extra content">
            <dropdown class="fluid" title="Resize Mode" ng-model="settings.ui.resizeMode">
                <dropdown-group data-value="FixedResizer">Fixed</dropdown-group>
                <dropdown-group data-value="OverflowResizer">Overflow</dropdown-group>
                <dropdown-group data-value="BasicResizer">Basic</dropdown-group>
            </dropdown>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="magnet icon"></i>
                Magnet Links
            </div>
            <div class="description">
                Enabling this makes Electorrent the default program for magnet links
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="general.magnets"></toggle>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="cubes icon"></i>
                Compact Listings
            </div>
            <div class="description">
                Minimize space when listing torrents
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.ui.displayCompact"></toggle>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="announcement icon"></i>
                Notifications
            </div>
            <div class="description">
                Enable desktop notifications when torrents finishes
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.ui.notifications"></toggle>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="paint brush icon"></i>
                Clean Names
            </div>
            <div class="description">
                Clean torrent names by replacing punctuation marks ect.
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.ui.cleanNames"></toggle>
        </div>
    </div>
</div>
