<!DOCTYPE html>
<h1>Layout</h1>

<table class="ui very basic table">
    <thead>
        <tr>
            <th>Order</th>
            <th>Enabled</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody ui-sortable="layoutSortOptions" ng-model="$server.columns">
        <tr ng-repeat="col in $server.columns">
            <td class="collapsing center aligned">
                <div class="sort handle">
                    <i class="ui grey maximize icon"></i>
                </div>
            </td>
            <td class="collapsing">
              <div class="ui checkbox">
                  <input type="checkbox" ng-model="col.enabled"><label></label>
              </div>
            </td>
            <td>{{col.name}}</td>
        </tr>
    </tbody>
</table>