<div class="main wrapper">
    <header class="title-bar" aria-label="Window title bar">
        <title-bar-menu
            ng-if="showTitleBarMenu()"
            current-page="currentPage()">
        </title-bar-menu>
        <span class="title-bar-server-name-anchor">
            <span class="title-bar-server-name">{{connectedServerName()}}</span>
            <span
                ng-if="showSyncConnectionIndicator()"
                class="title-bar-sync-connection-indicator"
                ng-class="'is-' + syncConnectionState()"
                aria-label="Sync connection status">
                <i class="plug icon"></i>
                <span class="ui bottom center popup transition">{{syncConnectionMessage()}}</span>
            </span>
        </span>
    </header>

    <div class="app-content">
        <div ng-show="showLoading" class="overlay animated">
            <div class="ui active inverted solid dimmer">
                <div class="ui huge text loader">{{statusText}}</div>
            </div>
        </div>

        <notifications-center></notifications-center>

        <div ng-show="showSettings()" class="overlay animated">
            <settings-page></settings-page>
        </div>

        <div ng-show="showWelcome()" class="overlay animated">
            <welcome-page></welcome-page>
        </div>

        <div ng-show="showServers()" class="overlay animated">
            <server-selection servers="servers" connect-to-server="connectToServer(server)"></server-selection>
        </div>

        <div ng-show="showTorrents" drag-and-drop>
            <torrents-page></torrents-page>
        </div>
    </div>
</div>
