<div class="main wrapper">
    <header class="title-bar" aria-label="Window title bar">
        <title-bar-menu
            [class.is-hidden]="!showTitleBarMenu"
            [currentPage]="currentPage">
        </title-bar-menu>
        <span class="title-bar-server-name-anchor">
            <span class="title-bar-server-name">{{ connectedServerName }}</span>
            <span
                [class]="'title-bar-sync-connection-indicator is-' + syncConnectionState"
                [class.is-hidden]="!showSyncConnectionIndicator"
                aria-label="Sync connection status">
                <i class="plug icon"></i>
                <span class="ui bottom center popup transition">{{ syncConnectionMessage }}</span>
            </span>
        </span>
    </header>

    <div class="app-content">
        <div [class.is-hidden]="!showLoading" class="overlay animated">
            <div class="ui active inverted solid dimmer">
                <div class="ui huge text loader">{{ statusText }}</div>
            </div>
        </div>

        <notifications-center></notifications-center>

        <div *ngIf="showSettings" class="overlay animated">
            <settings-page></settings-page>
        </div>

        <div *ngIf="showWelcome" class="overlay animated">
            <welcome-page (serverConnected)="connectToServer($any($event))"></welcome-page>
        </div>

        <div *ngIf="showServers" class="overlay animated">
            <server-selection
                [servers]="servers"
                (connectToServer)="connectToServer($any($event))">
            </server-selection>
        </div>

        <div *ngIf="showTorrents" drag-and-drop>
            <torrents-page></torrents-page>
        </div>
    </div>
</div>
