<!DOCTYPE html>
<html ng-app="torrentApp">
<head>
    <meta charset="UTF-8">
    <title>Electorrent</title>
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="css/main.css" charset="utf-8">
</head>
<body ng-controller="mainController">

    <div class="wrapper">
        <div class="sidebar">
            <ul class="nav">
                <li ng-click="filterByStatus('downloading')">
                    <i class="ui large blue arrow down icon"></i>
                    Downloading
                    <div class="ui torrent label">{{numInFilter('downloading')}}</div>
                </li>
                <li ng-click="filterByStatus('finished')">
                    <i class="ui large green checkmark icon"></i>
                    Finished
                    <div class="ui torrent label">{{numInFilter('finished')}}</div>
                </li>
                <li ng-click="filterByStatus('seeding')">
                    <i class="ui large orange arrow up icon"></i>
                    Seeding
                    <div class="ui torrent label">{{numInFilter('seeding')}}</div>
                </li>
                <li ng-click="filterByStatus('paused')">
                    <i class="ui large grey pause icon"></i>
                    Paused
                    <div class="ui torrent label">{{numInFilter('paused')}}</div>
                </li>
                <li ng-click="filterByStatus('queued')">
                    <i class="ui large yellow tasks icon"></i>
                    Queued
                    <div class="ui torrent label">{{numInFilter('queued')}}</div>
                </li>
                <li ng-click="filterByStatus('error')">
                    <i class="ui large red remove icon"></i>
                    Failed
                    <div class="ui torrent label">{{numInFilter('error')}}</div>
                </li>
            </ul>
        </div>
        <div class="main-panel">
            <div class="action header">
                <a class="ui green labeled icon button" ng-class="{disabled: noneSelected()}" ng-click="doAction('start')">
                    <i class="play icon"></i>
                    Start
                </a>
                <a class="ui red labeled icon button" ng-class="{disabled: noneSelected()}" ng-click="doAction('stop')">
                    <i class="stop icon"></i>
                    Stop
                </a>
                <a class="ui yellow labeled icon button" ng-class="{disabled: noneSelected()}" ng-click="doAction('pause')">
                    <i class="pause icon"></i>
                    Pause
                </a>
                <a class="ui button" ng-click="download()">Download</a>
                <a class="ui button" ng-click="update()">Update</a>
            </div>
            <div class="main-content">
                <table class="ui single line unstackable selectable fixed compact torrent table">
                    <thead>
                        <tr>
                            <th class="eight wide">Name</th>
                            <th class="two wide">Size</th>
                            <th class="three wide">Progress</th>
                            <th class="three wide">Date Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="torrent in arrayTorrents"
                        ng-class="{active: torrent.selected}"
                        ng-click="setSelected($event, torrent, $index)"
                        ng-right-click="showContextMenu($event, torrent, $index)">
                        <td>{{torrent.decodedName}}</td>
                        <td>{{torrent.size | bytes}}</td>
                        <td>
                            <div class="ui torrent progress success" progress="torrent">
                                <label></label>
                                <div class="bar"></div>
                            </div>
                        </td>
                        <td>{{torrent.dateAdded | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<context-menu bind="contextMenu" class="torrent context menu" id="contextmenu">
    <div class="ui vertical menu">
        <a class="item">
            <i class="ui user icon"></i>
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item">
            Friends
        </a>
    </div>
</context-menu>

<!-- Dependencies -->
<script type="text/javascript">
window.$ = window.jQuery = require('jquery');
</script>
<script src="bower_components/angular/angular.js" charset="utf-8"></script>
<script src="bower_components/angular-resource/angular-resource.min.js" charset="utf-8"></script>
<script src="bower_components/moment/min/moment.min.js" charset="utf-8"></script>
<script src="bower_components/semantic/dist/semantic.min.js" charset="utf-8"></script>

<!-- Application -->
<script src="main.js" charset="utf-8"></script>

<!-- Controllers -->
<script src="scripts\controllers\main.js" charset="utf-8"></script>

<!-- Services -->
<script src="scripts\services\torrent.js" charset="utf-8"></script>
<script src="scripts\services\utorrentservice.js" charset="utf-8"></script>

<!-- Filters -->
<script src="scripts/filters/dateFilter.js" charset="utf-8"></script>
<script src="scripts/filters/toArray.js" charset="utf-8"></script>
<script src="scripts/filters/bytes.js" charset="utf-8"></script>

<!-- Directives -->
<script src="scripts/directives/progress.js" charset="utf-8"></script>
<script src="scripts/directives/rightclick.js" charset="utf-8"></script>
<script src="scripts/directives/contextmenu.js" charset="utf-8"></script>

<!-- build:remove -->
<!-- Connect to server process -->
<script>require('electron-connect').client.create()</script>
<!-- end:build -->
</body>
</html>
