<modal
    saved-location-modal
    size="small"
    [id]="modalId"
    (closed)="onHidden()"
>
    <i class="close icon"></i>
    <div class="header">
        {{ title }}
    </div>
    <div class="content">
        <form [id]="modalId + '-form'" class="ui form" (ngSubmit)="addSavedLocation()">
            <div class="field">
                <label [attr.for]="modalId + '-path'">Path</label>
                <div class="ui left icon input">
                    <i class="folder open icon"></i>
                    <input
                        [id]="modalId + '-path'"
                        data-role="saved-location-path"
                        name="path"
                        type="text"
                        placeholder="/downloads/movies"
                        [(ngModel)]="path"
                    >
                </div>
            </div>

            <div class="field">
                <label>Icon</label>
                <div class="ui segment saved-location-icon-picker">
                    <div class="ui eight column doubling grid saved-location-icon-grid">
                        <div class="column" *ngFor="let icon of icons">
                            <button
                                type="button"
                                class="ui basic compact icon button fluid saved-location-icon-button"
                                [title]="icon"
                                data-role="saved-location-icon-option"
                                [attr.data-icon]="icon"
                                [class.blue]="isIconSelected(icon)"
                                (click)="selectIcon(icon)"
                            >
                                <i [ngClass]="icon + ' icon'"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui negative message" *ngIf="error">
                <p>{{ error }}</p>
            </div>
        </form>
    </div>
    <div class="actions">
        <button type="button" class="ui black button" (click)="close()">
            Cancel
        </button>
        <button
            type="submit"
            [attr.form]="modalId + '-form'"
            class="ui green right labeled icon button"
            data-role="saved-location-save"
            [disabled]="!path || !selectedIcon"
        >
            {{ submitLabel }}
            <i class="checkmark icon"></i>
        </button>
    </div>
</modal>
