<!DOCTYPE html>
<h1>About</h1>

<div class="ui grid">
  <div class="eight wide column">
      <h5 class="ui center aligned icon header">
        <i class="trophy icon"></i>
        <div class="content">
          Application Version
          <div class="sub header">{{appVersion}}</div>
        </div>
      </h5>
  </div>
  <div class="eight wide column">
      <h5 class="ui center aligned icon header">
        <i class="code icon"></i>
        <div class="content">
          Node Version
          <div class="sub header">{{nodeVersion}}</div>
        </div>
      </h5>
  </div>
  <div class="eight wide column">
      <h5 class="ui center aligned icon header">
        <i class="chrome icon"></i>
        <div class="content">
          Chrome Version
          <div class="sub header">{{chromeVersion}}</div>
        </div>
      </h5>
  </div>
  <div class="eight wide column">
      <h5 class="ui center aligned icon header">
        <i class="hashtag icon"></i>
        <div class="content">
          Electron Version
          <div class="sub header">{{electronVersion}}</div>
        </div>
      </h5>
  </div>
</div>