<!DOCTYPE html>
<h1>Connection</h1>
<form class="ui form" id="loginForm" ng-class="{loading: connecting}" onsubmit="return false;">
    <div class="fields">
        <div class="twelve wide field">
            <label>Bittorrent Client</label>
            <dropdown class="fluid" title="Client Program" ng-model="server.client" ng-change="setPath()">
                <dropdown-group value="id" title="client.name" ng-repeat="(id, client) in btclients">
                    <i class="icon torrent big" ng-class="client.icon" aria-hidden="true"></i> {{client.name}}
                </dropdown-group>
            </dropdown>
        </div>
        <div class="four wide field">
            <label>Protocol</label>
            <dropdown class="fluid" title="Protocol" ng-model="server.proto">
                <dropdown-group value="http" title="http">http</dropdown-group>
                <dropdown-group value="https" title="https">https</dropdown-group>
            </dropdown>
        </div>
    </div>
    <div class="two fields">
        <div class="field six wide">
            <label for="conn-ip">IP Address</label>
            <div class="ui left icon input">
                <i class="world icon" aria-hidden="true"></i>
                <input type="text" id="conn-ip" name="ip" ng-model="server.ip" placeholder="IP Address">
            </div>
        </div>
        <div class="field four wide">
            <label for="conn-port">Port</label>
            <div class="ui left icon input">
                <i class="sitemap icon" aria-hidden="true"></i>
                <input type="number" id="conn-port" name="port" ng-model="server.port" placeholder="Port">
            </div>
        </div>
        <div class="field six wide">
            <label for="conn-path">Path</label>
            <div class="ui left icon action input">
                <i class="linkify icon" aria-hidden="true"></i>
                <input type="text" id="conn-path" name="path" ng-model="server.path" placeholder="Path" ng-change="lockPath()">
                <button class="ui icon button" ng-click="resetPath()" aria-label="Reset path">
                    <i class="refresh icon" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="conn-username">Username</label>
            <div class="ui left icon input">
                <i class="user icon" aria-hidden="true"></i>
                <input type="text" id="conn-username" name="username" ng-model="server.user" placeholder="Username">
            </div>
        </div>
        <div class="field">
            <label for="conn-password">Password</label>
            <div class="ui left icon input">
                <i class="lock icon" aria-hidden="true"></i>
                <input type="password" id="conn-password" name="password" ng-model="server.password" placeholder="Password">
            </div>
        </div>
    </div>
</form>
