<!DOCTYPE html>
<h1>Layout</h1>

<table class="ui very basic table">
    <thead>
        <tr>
            <th class="two wide">Order</th>
            <th class="two wide">Enabled</th>
            <th class="twelve wide">Name</th>
        </tr>
    </thead>
    <tbody ui-sortable="layoutSortOptions" ng-model="server.columns">
        <tr ng-repeat="col in server.columns">
            <td style="min-width: 12em">
                <div class="sort handle" role="button" tabindex="0" aria-label="Reorder {{col.name}}, use arrow keys" ng-keydown="moveColumn($index, $event)">
                    <i class="ui grey maximize icon" aria-hidden="true"></i>
                </div>
            </td>
            <td style="min-width: 12em">
              <div class="ui checkbox">
                  <input type="checkbox" ng-model="col.enabled" id="col-enabled-{{$index}}" aria-label="Enable {{col.name}} column"><label for="col-enabled-{{$index}}">{{col.name}}</label>
              </div>
            </td>
            <td style="width: 100%" aria-hidden="true">{{col.name}}</td>
        </tr>
    </tbody>
</table>
