<!DOCTYPE html>
<h1>Servers</h1>
<table class="ui very basic table">
    <thead>
        <tr>
            <th>Default</th>
            <th>Client</th>
            <th>IP Address</th>
            <th>Protocol</th>
            <th>Port</th>
            <th>Username</th>
            <th class="center aligned">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="server in settings.servers">
            <td class="collapsing">
                <div class="ui toggle checkbox">
                    <input type="checkbox" ng-model="server.default" ng-change="toggleDefaultServer(server)" aria-label="Set {{server.getName()}} as default server">
                    <label></label>
                </div>
            </td>
            <td>{{server.getName()}}</td>
            <td>{{server.ip}}</td>
            <td class="collapsing">
                <div ng-switch="server.proto">
                    <div class="" ng-switch-when="http">
                        <div class="ui label">
                            <i class="unlock alternate icon" aria-hidden="true"></i> {{server.proto}}
                        </div>
                    </div>
                    <div class="" ng-switch-when="https">
                        <div class="ui label">
                            <i class="green lock icon" aria-hidden="true"></i> {{server.proto}}
                        </div>
                    </div>
                    <div class="" ng-switch-default>
                        <div class="ui label">
                            <i class="help icon" aria-hidden="true"></i> {{server.proto}}
                        </div>
                    </div>
                </div>
            </td>
            <td>{{server.port}}</td>
            <td>{{server.user}}</td>
            <td class="collapsing center aligned">
                <button ng-disabled="$first" class="circular green ui icon mini button" ng-click="moveServerUp(server)" aria-label="Move {{server.getName()}} up">
                    <i class="icon arrow up" aria-hidden="true"></i>
                </button>
                <button class="circular blue ui icon mini button" ng-click="openRenameModal(server)" aria-label="Rename {{server.getName()}}">
                    <i class="icon tag" aria-hidden="true"></i>
                </button>
                <button class="circular red ui icon mini button" ng-click="removeServer(server)" aria-label="Remove {{server.getName()}}">
                    <i class="icon remove" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<modal
    title="Rename Server"
    approve="renameServer()"
    data="renameData"
    id="renameModal"
    template-url="./views/modals/rename.html">
</modal>