html,
body {
    overflow: hidden;
    -webkit-user-select: none;
    color: @textColor;
}

.zoom.normal {
    font-size: 1rem;
}

.zoom.large {
    font-size: 1.15rem;
}

.zoom.small {
    font-size: 0.85rem;
}

.zoom.compact td {
    padding: .25em .7em;
}

.value {
    padding: 0 .7em;
}

.meta.text {
    color: #888888;
    font-style: italic;
}

.ui.inverted.solid.dimmer {
    background-color: @pageBackground;
}

.narrow.column {
    max-width: 450px;
}

.ui .form .fields .field {
    margin: 0 0 1em !important;
}

.ui .fields {
    margin: 0 -.5em 0 !important;
}

.ui .form .field .checkbox {
    margin-top: 1em;
}

.menu .item .checkbox {
    float: right;
    margin: 0 0 0 .5em;
    width: 1.18em;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: none;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

::-webkit-scrollbar * {
    background: transparent;
}
