<!DOCTYPE html>
<div ng-controller="notificationsController">
    <div class="notifications container">
        <div class="notification" ng-repeat="notification in notifications">
            <div class="ui message" ng-class="notification.type">
                <i class="close icon" ng-click="close($index)"></i>
                <div class="header">
                    {{notification.title}}
                </div>
                <p>{{notification.message}}</p>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <modal
        title="Update Available"
        btn-ok="Quit And Install"
        btn-cancel="Update Later"
        approve="installUpdate()"
        data="updateData"
        id="updateModal"
        template-url="./views/modals/update.html">
    </modal>
</div>
