<!DOCTYPE html>
<div class="wrapper" ng-controller="torrentsController">
    <div class="torrent sidebar">
        <ul class="nav">
            <li ng-click="filterByStatus('downloading')" ng-class="activeOn('downloading')">
                <i class="ui large blue arrow down icon"></i>
                Downloading
                <div class="ui torrent label">{{numInFilter('downloading')}}</div>
            </li>
            <li ng-click="filterByStatus('finished')" ng-class="activeOn('finished')">
                <i class="ui large green checkmark icon"></i>
                Finished
                <div class="ui torrent label">{{numInFilter('finished')}}</div>
            </li>
            <li ng-click="filterByStatus('seeding')" ng-class="activeOn('seeding')">
                <i class="ui large orange arrow up icon"></i>
                Seeding
                <div class="ui torrent label">{{numInFilter('seeding')}}</div>
            </li>
            <li ng-click="filterByStatus('stopped')" ng-class="activeOn('stopped')">
                <i class="ui large grey stop icon"></i>
                Stopped
                <div class="ui torrent label">{{numInFilter('stopped')}}</div>
            </li>
            <li ng-click="filterByStatus('error')" ng-class="activeOn('error')">
                <i class="ui large red remove icon"></i>
                Failed
                <div class="ui torrent label">{{numInFilter('error')}}</div>
            </li>
        </ul>
    </div>

    <div class="main-panel">
        <div action-header actions="$btclient.actionHeader" labels="labels" enabled="noneSelected()" click="doAction"></div>

        <div class="main-content">
            <div infinite-scroll-parent="true" infinite-scroll="showMore()" infinite-scroll-distance="2">
                <table
                    id="torrentTable"
                    resizeable
                    mode="resizeMode"
                    container=".main-content"
                    class="ui single line unstackable selectable fixed compact torrent resize table">
                    <thead>
                        <tr>
                            <th id="colName">Name</th>
                            <th id="colSize">Size</th>
                            <th id="colDownSpeed">Download</th>
                            <th id="colProgress">Progress</th>
                            <th id="colLabel">Label</th>
                            <th id="colAdded">Date Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="torrent in arrayTorrents | limitTo:torrentLimit"
                            ng-class="{active: torrent.selected}"
                            ng-click="setSelected($event, torrent, $index)"
                            ng-right-click="showContextMenu($event, torrent, $index)"
                            repeat-done>
                            <td>
                                {{torrent.decodedName}}
                            </td>
                            <td>
                                {{torrent.size | bytes}}
                            </td>
                            <td>
                                {{torrent.downloadSpeed | speed:torrent}}
                            </td>
                            <td>
                                <progress torrent="torrent"/>
                            </td>
                            <td>
                                {{torrent.label}}
                            </td>
                            <td>
                                {{torrent.dateAdded | date}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <context-menu bind="contextMenu" menu="$btclient.contextMenu" click="doContextAction" id="contextmenu"></context-menu>
</div>
