<!DOCTYPE html>
<div class="wrapper" ng-controller="welcomeController">
    <div class="ui middle aligned center aligned grid" style="height: 100vh;">
        <div class="narrow column">
            <div>
                <h2 class="ui image header">
                    <div class="content">
                        Welcome to Electorrent
                    </div>
                </h2>
                <form class="ui large form" id="loginForm" ng-class="{loading: connecting}" ng-submit="connect()" onsubmit="return false;">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="world icon"></i>
                                <input type="text" name="ip" ng-model="ip" placeholder="IP Address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="sitemap icon"></i>
                                <input type="number" name="port" ng-model="port" placeholder="Port">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" ng-model="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" ng-model="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <dropdown title="Client Program" ng-model="client">
                            <dropdown-group value="id" title="client.name" ng-repeat="(id, client) in btclients">
                                <i class="icon torrent large" ng-class="client.icon"></i>
                                {{client.name}}
                            </dropdown-group>
                        </dropdown>
                    </div>

                    <button class="ui fluid large green labeled icon submit button">
                        <i class="checkmark icon"></i>
                        Connect
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
