<div #modal class="ui small modal" id="uploadTorrentModal">
    <i class="close icon"></i>
    <div class="header">
        Add Torrent
        <div class="ui right floated label">
            <i class="file alternate icon"></i>{{ getPendingUploadCountLabel() }}
        </div>
    </div>
    <div class="content">
        <form id="upload-torrent-form" (submit)="$event.preventDefault(); uploadCurrentTorrent()">
            <h4 class="ui header upload-torrent-heading">
                <span class="upload-torrent-name">{{ getCurrentTorrentUploadLabel() }}</span>
                <span class="upload-torrent-size">{{ formatBytes(getCurrentTorrentUploadSize()) }}</span>
            </h4>
            <div class="ui secondary pointing menu" *ngIf="hasFilesTab()">
                <button type="button" class="item" [class.active]="activeTab === 'general'" (click)="switchTab('general')">General</button>
                <button type="button" class="item" [class.active]="activeTab === 'files'" (click)="switchTab('files')">Files</button>
            </div>
            <div [hidden]="activeTab !== 'general' && hasFilesTab()">
                <torrent-upload-form
                    [loading]="isLoading"
                    [options]="uploadOptions"
                    [labels]="labels"
                    [canAddSavedLocation]="!!server"
                    (addSavedLocation)="openSavedLocationModal()">
                </torrent-upload-form>
            </div>
            <torrent-upload-file-selection
                *ngIf="hasFilesTab()"
                [hidden]="activeTab !== 'files'"
                [files]="getCurrentTorrentUploadFiles()"
                (selectionChange)="updateFileSelection($any($event))">
            </torrent-upload-file-selection>
        </form>
    </div>
    <div class="actions">
        <button type="button" class="ui black button" [class.disabled]="isLoading" [disabled]="isLoading" (click)="discardCurrentTorrent()">
            Cancel
        </button>
        <button type="submit" form="upload-torrent-form" class="ui green right labeled icon button" [class.disabled]="isLoading" [disabled]="isLoading">
            Add Torrent
            <i class="plus icon"></i>
        </button>
    </div>
</div>
