<form modal
    size="small"
    approve="approve()"
    ng-submit="applyAndClose()"
    id="renameModal">
    <i class="close icon"></i>
    <div class="header">
        Rename Server
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <div class="ui fluid left icon action input">
                    <i class="user icon"></i>
                    <input type="text" name="servername" maxlength="36" ng-model="data.name" placeholder="Server Name">
                    <button type="button" class="ui icon button" ng-click="data.reset()">
                        <i class="refresh icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="ui black deny button">
            Cancel
        </button>
        <button
            type="submit"
            class="ui green right labeled icon button"
            ng-class="{ disabled: !data.name }"
            ng-disabled="!data.name">
            Rename
            <i class="tag icon"></i>
        </button>
    </div>
</form>
