<form modal
    size="tiny"
    id="setLocationModal"
    on-hidden="ctl.onHidden()"
    ng-submit="ctl.apply()"
    ng-ref="ctl.modalref">
    <i class="close icon"></i>
    <div class="header">
        Set Location
    </div>
    <div class="content">
        <div class="ui form">
            <p>Choose a new location for {{ ctl.getTargetLabel() }}.</p>
            <div class="field">
                <label for="set-location-input">Location</label>
                <div class="ui fluid left icon input">
                    <i class="folder open icon"></i>
                    <input
                        id="set-location-input"
                        type="text"
                        name="location"
                        ng-model="ctl.scope.location"
                        placeholder="/downloads/new/location">
                </div>
            </div>
            <div class="ui negative message" ng-if="ctl.scope.error">
                <p>{{ ctl.scope.error }}</p>
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="ui black button" ng-class="{ disabled: ctl.scope.loading }" ng-click="ctl.close()">
            Cancel
        </button>
        <button
            type="submit"
            class="ui green right labeled icon button"
            data-role="set-location-apply"
            ng-class="{ disabled: ctl.scope.loading || !ctl.scope.location }"
            ng-disabled="ctl.scope.loading || !ctl.scope.location">
            Set Location
            <i class="folder open icon"></i>
        </button>
    </div>
</form>
