<modal
    size="tiny"
    id="setLocationModal"
    on-hidden="ctl.onHidden()"
    ng-ref="ctl.modalref">
    <i class="close icon"></i>
    <div class="header">
        Set Location
    </div>
    <div class="content">
        <form id="set-location-form" class="ui form" ng-submit="ctl.apply()">
            <p>Choose a new location for {{ ctl.getTargetLabel() }}.</p>
            <div class="field">
                <label for="set-location-dropdown">Location</label>
                <dropdown
                    title="Select saved location"
                    id="set-location-dropdown"
                    class="fluid"
                    open-on-focus="false"
                    ng-model="ctl.scope.location"
                    ng-disabled="!ctl.savedLocations.length">
                    <dropdown-group
                        ng-repeat="savedLocation in ctl.savedLocations track by savedLocation.path"
                        title="savedLocation.path"
                        value="savedLocation.path"
                        data-path="{{ savedLocation.path }}">
                        <i class="{{ savedLocation.icon }} icon"></i>
                        <span>{{ savedLocation.path }}</span>
                    </dropdown-group>
                </dropdown>
                <div class="ui mini message" data-role="set-location-empty" ng-if="!ctl.savedLocations.length">
                    No saved locations are available for this server.
                </div>
            </div>
            <div class="ui negative message" ng-if="ctl.scope.error">
                <p>{{ ctl.scope.error }}</p>
            </div>
        </form>
    </div>
    <div class="actions">
        <button type="button" class="ui black button" ng-class="{ disabled: ctl.scope.loading }" ng-click="ctl.close()">
            Cancel
        </button>
        <button
            type="submit"
            form="set-location-form"
            class="ui green right labeled icon button"
            data-role="set-location-apply"
            ng-class="{ disabled: ctl.scope.loading || !ctl.scope.location }"
            ng-disabled="ctl.scope.loading || !ctl.scope.location">
            Set Location
            <i class="folder open icon"></i>
        </button>
    </div>
</modal>
