<modal
    #modal="modal"
    size="tiny"
    id="setLocationModal"
    [onHidden]="handleHidden">
    <i class="close icon"></i>
    <div class="header">
        Set Location
    </div>
    <div class="content">
        <form id="set-location-form" class="ui form" (ngSubmit)="apply()">
            <p>Choose a new location for {{ getTargetLabel() }}.</p>
            <div class="field">
                <label for="set-location-dropdown">Location</label>
                <dropdown
                    title="Select saved location"
                    id="set-location-dropdown"
                    name="location"
                    class="fluid"
                    [openOnFocus]="false"
                    [disabled]="!savedLocations.length"
                    [(ngModel)]="location">
                    <dropdown-item
                        *ngFor="let savedLocation of savedLocations; trackBy: trackSavedLocation"
                        [title]="savedLocation.path"
                        [value]="savedLocation.path"
                        [attr.data-path]="savedLocation.path">
                        <i [class]="savedLocation.icon + ' icon'"></i>
                        <span>{{ savedLocation.path }}</span>
                    </dropdown-item>
                </dropdown>
                <div class="ui small info message" data-role="set-location-empty" *ngIf="!savedLocations.length">
                    No saved locations are available for this server. Add saved locations in Settings &rarr; Advanced.
                </div>
            </div>
            <div class="ui negative message" *ngIf="error">
                <p>{{ error }}</p>
            </div>
        </form>
    </div>
    <div class="actions">
        <button type="button" class="ui black button" [class.disabled]="loading" [disabled]="loading" (click)="close()">
            Cancel
        </button>
        <button
            type="submit"
            form="set-location-form"
            class="ui green right labeled icon button"
            data-role="set-location-apply"
            [class.disabled]="loading || !location"
            [disabled]="loading || !location">
            Set Location
            <i class="folder open icon"></i>
        </button>
    </div>
</modal>
