<!DOCTYPE html>
<div ng-controller="notificationsController">
    <div id="notifications" class="notifications container">
        <div class="animated notification"
             ng-repeat="notification in notifications"
             role="{{notification.type === 'negative' ? 'alert' : 'status'}}"
             aria-live="{{notification.type === 'negative' ? 'assertive' : 'polite'}}"
             aria-atomic="true">
            <div class="ui message" ng-class="notification.type">
                <button type="button"
                        class="close icon"
                        ng-click="close($index)"
                        aria-label="Dismiss notification">
                    <i class="close icon" aria-hidden="true"></i>
                </button>
                <div class="header">
                    {{notification.title}}
                </div>
                <p>{{notification.message}}</p>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <modal
        approve="installUpdate()"
        data="updateData"
        id="updateModal"
        template-url="./views/modals/update.html">
    </modal>

    <modal
        approve="installCertificate()"
        after="certificateResult"
        data="certificate"
        id="certificateModal"
        template-url="./views/modals/certificate.html">
    </modal>
</div>
