<!DOCTYPE html>
<div ng-controller="notificationsController">
    <div class="notifications container">
        <div class="animated notification" ng-repeat="notification in notifications">
            <div class="ui message" ng-class="notification.type">
                <i class="close icon" ng-click="close($index)"></i>
                <div class="header">
                    {{notification.title}}
                </div>
                <p>{{notification.message}}</p>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <modal
        title="Update Available"
        approve="installUpdate()"
        data="updateData"
        id="updateModal"
        template-url="./views/modals/update.html">
    </modal>

    <modal
        title="Untrusted Certificate"
        approve="installCertificate()"
        after="certificateResult"
        data="certificate"
        id="certificateModal"
        template-url="./views/modals/certificate.html">
    </modal>
</div>
