<!DOCTYPE html>
<div class="wrapper">
    <div class="ui middle aligned center aligned grid" style="height: 100vh;">
        <div class="narrow column">
            <h2 class="ui image header">
                <div class="content">
                    Connect to Server
                </div>
            </h2>

            <div class="ui one fluid cards server list">
                <div class="card" ng-repeat="server in servers">
                    <div class="content">
                        <div class="header">
                            <i class="torrent icon" ng-class="server.getIcon()" aria-hidden="true"></i>
                            {{server.getName()}}
                        </div>
                        <div class="meta">
                            {{server.getNameAtAddress()}}
                        </div>
                    </div>
                    <button type="button" class="ui bottom attached green button" ng-click="connectToServer(server)" ng-keydown="$event.key === 'Enter' && connectToServer(server)" aria-label="Connect to {{server.getName()}}">
                        Connect
                        <i class="icon right arrow" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
