<!DOCTYPE html>
<div id="page-settings" class="wrapper" ng-controller="settingsController as settings">

    <div class="ui stretched segment">
        <div class="settings sidebar">
            <ul class="nav" role="navigation" aria-label="Settings sections">
                <li>
                    <button type="button"
                            ng-class="activeOn('general')"
                            ng-click="gotoPage('general')"
                            aria-current="{{activeOn('general') ? 'page' : 'false'}}">
                        <i class="large settings icon" aria-hidden="true"></i>
                        General Settings
                    </button>
                </li>
                <li>
                    <button type="button"
                            ng-class="activeOn('connection')"
                            ng-click="gotoPage('connection')"
                            aria-current="{{activeOn('connection') ? 'page' : 'false'}}">
                        <i class="large sitemap icon" aria-hidden="true"></i>
                        Connection
                    </button>
                </li>
                <li>
                    <button type="button"
                            ng-class="activeOn('layout')"
                            ng-click="gotoPage('layout')"
                            aria-current="{{activeOn('layout') ? 'page' : 'false'}}">
                        <i class="large list layout icon" aria-hidden="true"></i>
                        Layout
                    </button>
                </li>
                <li>
                    <button type="button"
                            ng-class="activeOn('servers')"
                            ng-click="gotoPage('servers')"
                            aria-current="{{activeOn('servers') ? 'page' : 'false'}}">
                        <i class="large server icon" aria-hidden="true"></i>
                        Servers
                    </button>
                </li>
                <li>
                    <button type="button"
                            ng-class="activeOn('about')"
                            ng-click="gotoPage('about')"
                            aria-current="{{activeOn('about') ? 'page' : 'false'}}">
                        <i class="large at icon" aria-hidden="true"></i>
                        About
                    </button>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="content" ng-switch="page">
                <div ng-switch-when="general" id="page-settings-general">
                    <div ng-include="'./views/settings/general.html'"></div>
                </div>

                <div ng-switch-when="connection" id="page-settings-connection">
                    <div ng-include="'./views/settings/connection.html'"></div>
                </div>

                <div ng-switch-when="layout" id="page-settings-layout">
                    <div ng-include="'./views/settings/layout.html'"></div>
                </div>

                <div ng-switch-when="servers" id="page-settings-servers">
                    <div ng-include="'./views/settings/servers.html'"></div>
                </div>

                <div ng-switch-when="about" id="page-settings-about">
                    <div ng-include="'./views/settings/about.html'"></div>
                </div>

            </div>
            <div class="actions footer">
                <button type="button" class="ui deny right labeled icon button" ng-click="close()">
                    Cancel
                    <i class="cancel icon" aria-hidden="true"></i>
                </button>
                <button type="button" class="ui positive right labeled icon button" ng-click="save()">
                    Save
                    <i class="checkmark icon" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>

</div>
