<!DOCTYPE html>
<div id="page-welcome" class="wrapper" ng-controller="welcomeController">
  <div class="ui middle aligned center aligned grid" style="height: 100vh;">
    <div class="narrow column">
      <div>
        <h2 class="ui image header">
          <div class="content">
            Welcome to Electorrent
          </div>
        </h2>
        <form
          class="ui large welcome form"
          id="loginForm"
          ng-class="{loading: connecting}"
          ng-submit="connect()"
          onsubmit="return false;"
        >
          <div class="fields">
            <div class="ten wide field">
              <label for="connection-host" class="sr-only">IP Address</label>
              <div class="ui left icon input">
                <i class="world icon" aria-hidden="true"></i>
                <input type="text" id="connection-host" name="ip" ng-model="server.ip" placeholder="IP Address" aria-required="true" />
              </div>
            </div>
            <div class="six wide field">
              <label for="connection-proto" class="sr-only">Protocol</label>
              <dropdown title="Protocol" id="connection-proto" class="fluid" ng-model="server.proto" aria-label="Select protocol">
                <dropdown-group value="http" id="connection-proto-http" title="http">
                  http
                </dropdown-group>
                <dropdown-group value="https" id="connection-proto-https" title="https">
                  https
                </dropdown-group>
              </dropdown>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label for="connection-user" class="sr-only">Username</label>
              <div class="ui left icon input">
                <i class="user icon" aria-hidden="true"></i>
                <input type="text" id="connection-user" name="username" ng-model="server.user" placeholder="Username" />
              </div>
            </div>
            <div class="field">
              <label for="connection-password" class="sr-only">Password</label>
              <div class="ui left icon input">
                <i class="lock icon" aria-hidden="true"></i>
                <input
                  type="password"
                  id="connection-password"
                  name="password"
                  ng-model="server.password"
                  placeholder="Password"
                />
              </div>
            </div>
          </div>
          <div class="field">
            <label for="connection-client" class="sr-only">BitTorrent Client</label>
            <dropdown
              title="Client Program"
              id="connection-client"
              class="fluid"
              ng-model="server.client"
              ng-change="setPath()"
              aria-label="Select BitTorrent client"
            >
              <dropdown-group
                value="id"
                id="connection-client-{{id}}"
                title="client.name"
                ng-repeat="(id, client) in btclients"
              >
                <i class="icon torrent big" ng-class="client.icon" aria-hidden="true"></i> {{client.name}}
              </dropdown-group>
            </dropdown>
          </div>
          <div class="fields">
            <div class="six wide field">
              <label for="connection-port" class="sr-only">Port</label>
              <div class="ui left icon input">
                <i class="sitemap icon" aria-hidden="true"></i>
                <input type="number" name="port" id="connection-port" ng-model="server.port" placeholder="Port" aria-required="true" />
              </div>
            </div>
            <div class="ten wide field">
              <label for="connection-path" class="sr-only">Path</label>
              <div class="ui left icon input">
                <i class="linkify icon" aria-hidden="true"></i>
                <input
                  type="text"
                  ng-disabled="!advanced"
                  id="connection-path"
                  name="path"
                  ng-model="server.path"
                  placeholder="Path"
                />
              </div>
            </div>
            <div class="field">
              <label for="connection-advanced">
                <input type="checkbox" id="connection-advanced" ng-model="advanced" name="example" />
                <span class="sr-only">Advanced options</span>
              </label>
            </div>
          </div>
          <button id="connection-submit" type="submit" class="ui fluid large green labeled icon submit button">
            <i class="checkmark icon" aria-hidden="true"></i> Connect
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
