@renderTheme: 'dark';
@site: 'default';
@reset: 'default';
@theme: @renderTheme;
@themesFolder: '../themes';
@siteFolder: '../semantic/site';

@import "@{themesFolder}/default/globals/site.variables";
@import "@{themesFolder}/@{site}/globals/site.variables";
@import (optional) "@{themesFolder}/@{theme}/globals/site.variables";
@import (optional) "@{siteFolder}/globals/site.variables";

@imagePath: './default/assets/images';
@fontPath: './default/assets/fonts';

@import 'semantic-ui-less/semantic.less';
@import '@renderer/styles/app/index.less';
