/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'default';
@reset      : 'default';

/* Elements */
@button     : @renderTheme;
@container  : @renderTheme;
@divider    : @renderTheme;
@flag       : @renderTheme;
@header     : @renderTheme;
@icon       : 'default';
@image      : @renderTheme;
@input      : @renderTheme;
@label      : @renderTheme;
@list       : @renderTheme;
@loader     : @renderTheme;
@rail       : @renderTheme;
@reveal     : @renderTheme;
@segment    : @renderTheme;
@step       : @renderTheme;

/* Collections */
@breadcrumb : @renderTheme;
@form       : @renderTheme;
@grid       : @renderTheme;
@menu       : @renderTheme;
@message    : @renderTheme;
@table      : @renderTheme;

/* Modules */
@accordion  : @renderTheme;
@checkbox   : @renderTheme;
@dimmer     : @renderTheme;
@dropdown   : @renderTheme;
@embed      : @renderTheme;
@modal      : @renderTheme;
@nag        : @renderTheme;
@popup      : @renderTheme;
@progress   : @renderTheme;
@rating     : @renderTheme;
@search     : @renderTheme;
@shape      : @renderTheme;
@sidebar    : @renderTheme;
@sticky     : @renderTheme;
@tab        : @renderTheme;
@transition : 'default';

/* Views */
@ad         : @renderTheme;
@card       : @renderTheme;
@comment    : @renderTheme;
@feed       : @renderTheme;
@item       : @renderTheme;
@statistic  : @renderTheme;

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '../themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* Force override assets path */
@imagePath : './default/assets/images';
@fontPath  : './default/assets/fonts';

/* End Config */