<div class="ui big modal">
    <i class="close icon"></i>
    <div class="header">
        Untrusted Certificate
    </div>
    <div class="content">
        <p>By trusting this certificate you accept the implications it can have on your security and understand
        the consequences of doing so. Never trust a certificate which you do not know the origin of.</p>

        <div class="ui equal width stackable grid">

            <!--
                Certificate
            -->
            <div class="column">
                <h3 class="ui dividing header">
                  Certificate
                </h3>

                <div class="ui list">
                    <div class="item">
                        <i class="user secret big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Self Signed</div>
                            <span>
                                <span ng-if="data.selfSigned">Yes</span>
                                <span ng-if="!data.selfSigned">No</span>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="calendar check big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Valid From</div>
                            <span>{{data.validFrom | epoch}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="calendar times big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Valid To</div>
                            <span>{{data.validTo | epoch}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="certificate big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Serial Number</div>
                            <span>{{data.serialNumber}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--
                Issuer
            -->
            <div class="column">
                <h3 class="ui dividing header">
                  Issuer
                </h3>

                <div class="ui list">
                    <div class="item">
                        <i class="building big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Organization</div>
                            <span>{{data.issuer.organization}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="map marker alternate big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Organization Unit</div>
                            <span>{{data.issuer.organizationUnit}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="paper plane big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">State</div>
                            <span>{{data.issuer.state}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="globe big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Country</div>
                            <span>{{data.issuer.country}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="user big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Common Name</div>
                            <span>{{data.issuer.commonName}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--
                Subject
            -->
            <div class="column">
                <h3 class="ui dividing header">
                  Subject
                </h3>

                <div class="ui list">
                    <div class="item">
                        <i class="building big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Organization</div>
                            <span>{{data.subject.organization}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="map marker alternate big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Organization Unit</div>
                            <span>{{data.subject.organizationUnit}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="paper plane big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">State</div>
                            <span>{{data.subject.state}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="globe big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Country</div>
                            <span>{{data.subject.country}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <i class="user big icon" aria-hidden="true"></i>
                        <div class="content">
                            <div class="ui sub header">Common Name</div>
                            <span>{{data.subject.commonName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="actions">
        <div class="ui stackable grid">
              <div class="ten wide column">
                  <div class="ui left icon fluid input">
                        <label for="cert-fingerprint" class="sr-only">Certificate Fingerprint</label>
                        <input id="cert-fingerprint" name="Fingerprint" type="text" readonly ng-model="data.fingerprint" aria-label="Certificate Fingerprint">
                        <i class="address card icon" aria-hidden="true"></i>
                  </div>
              </div>
              <div class="six wide column">
                  <button type="button" class="ui red deny button">
                      Cancel
                  </button>
                  <button type="submit" class="ui black ok right labeled icon button">
                      Trust
                      <i class="address card icon" aria-hidden="true"></i>
                  </button>
              </div>
        </div>

    </div>
</div>
