<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Rename Server
    </div>
    <div class="content">
        <form class="ui form" ng-submit="applyAndClose()">
            <div class="field">
                <div class="ui left icon action input">
                    <i class="user icon"></i>
                    <input type="text" name="servername" maxlength="36" ng-model="data.name" placeholder="Server Name">
                    <a class="ui icon button" ng-click="data.reset()">
                        <i class="refresh icon"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <a class="ui black deny button">
            Cancel
        </a>
        <button type="submit" class="ui positive right labeled icon button">
            Rename
            <i class="tag icon"></i>
        </button>
    </div>
</div>
