<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Rename Server
    </div>
    <div class="content">
        <form class="ui form" ng-submit="applyAndClose()">
            <div class="field">
                <label for="rename-server-input" class="sr-only">Server Name</label>
                <div class="ui left icon action input">
                    <i class="user icon" aria-hidden="true"></i>
                    <input type="text" id="rename-server-input" name="servername" maxlength="36" ng-model="data.name" placeholder="Server Name" aria-label="Server Name">
                    <button type="button" class="ui icon button" ng-click="data.reset()" aria-label="Reset name">
                        <i class="refresh icon" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button type="button" class="ui black deny button">
            Cancel
        </button>
        <button type="submit" class="ui positive right labeled icon button">
            Rename
            <i class="tag icon" aria-hidden="true"></i>
        </button>
    </div>
</div>
