<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">

        Update Available
    </div>
    <div class="content">

        <h4 class="ui header">
            <div class="content">
                Version:
                {{data.releaseName}}
                <div class="sub header">{{data.releaseDate | releaseDate}}</div>
            </div>
        </h4>

        <h4 class="ui horizontal divider header" style="margin-top: 14px">
            <i class="tag icon" aria-hidden="true"></i>
            Release Notes
        </h4>

        <p marked="data.releaseNotes"></p>

    </div>
    <div class="actions">
        <button type="button" class="ui black deny button">
            Update Later
        </button>
        <button type="button" class="ui positive right labeled icon button">
            Quit And Install
            <i class="arrow alternate circle up icon" aria-hidden="true"></i>
        </button>
    </div>
</div>
