<div id="page-torrents" class="wrapper" ng-class="{ 'is-sidebar-collapsed': settings.ui.sidebarCollapsed }">
    <div ng-if="connectionLost" class="popup animated">
        <div class="content">
            <h2 class="ui center aligned icon header">
                <i class="plug icon"></i>
                Connection Lost!
            </h2>
        </div>
    </div>
    <torrent-sidebar
        settings="settings"
        features="$btclient.features"
        torrents="torrents"
        filters="filters"
        labels="labels"
        trackers="trackers"
        on-status="filterByStatus(status)"
        on-label="filterByLabel(label)"
        on-tracker="filterByTracker(tracker)">
    </torrent-sidebar>

    <div class="main-panel">
        <div class="action header">
            <div class="actions left">
                <div
                    id="torrent-action-header"
                    action-header
                    actions="$btclient.actionHeader"
                    labels="labels"
                    enabled="noneSelected()"
                    click="doAction"
                ></div>
            </div>
            <div class="actions right">
                <button
                    type="button"
                    class="ui icon button"
                    data-role="show-settings"
                    aria-label="Show settings"
                    title="Show settings"
                    ng-click="$emit('show:settings')"
                >
                    <i class="cog icon"></i>
                </button>
                <div class="ui fluid search" ng-class="{loading: isSearching}">
                    <div class="ui icon input">
                        <input
                            search
                            class="prompt"
                            type="text"
                            placeholder="Search torrents..."
                            ng-model="filters.search"
                            ng-change="filterBySearch()"
                            ng-model-options="filters.options"
                        />
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content" limit-bind="torrentLimit">
            <div ng-if="showDragAndDrop" class="popup animated">
                <div class="content">
                    <h2 class="ui center aligned icon header">
                        <i class="add circle icon"></i>
                        Upload Torrent Files
                        <div class="sub header" ng-if="!settings.alwaysPromptUploadOptions && supportsUploadOptions()">
                            Hold down <div class="ui label">{{ uploadAdvancedOptionsKey }}</div> key for advanced options
                        </div>
                    </h2>
                </div>
            </div>
            <div infinite-scroll-parent="true" infinite-scroll="showMore()" infinite-scroll-distance="0.5">
                <table
                    id="torrentTable"
                    tabindex="0"
                    aria-label="Torrents"
                    ng-keydown="navigateSelection($event)"
                    ng-class="{ 'compact': settings.ui.displayCompact, 'is-sticky': settings.ui.fixedHeader }"
                    rz-table
                    rz-busy="guiBusy"
                    rz-profile="$server.id"
                    rz-mode="settings.ui.resizeMode"
                    rz-container=".main-content"
                    columns="$server.columns"
                    class="ui single line unstackable selectable fixed torrent resize table"
                >
                    <thead>
                        <tr sorting="changeSorting" mode="$server.id">
                            <th
                                ng-repeat="col in $server.columns | filter:{enabled: true} track by col.name"
                                rz-col="col.attribute"
                                sort="col.attribute"
                            >
                                {{::col.name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody class="zoom" ng-class="settings.ui.displaySize" torrent-body columns="$server.columns">
                        <tr
                            ng-repeat="torrent in arrayTorrents | limitTo:torrentLimit track by torrent.hash"
                            ng-class="{active: torrent.selected}"
                            ng-click="setSelected($event, torrent, $index)"
                            ng-dblclick="openTorrentDetails(torrent)"
                            ng-right-click="showContextMenu($event, torrent, $index)"
                            repeat-done="renderDone"
                            data-hash="{{torrent.hash | lowercase }}"
                            limit-source
                            torrent-row
                        ></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <torrent-details-panel settings="settings"></torrent-details-panel>
        <div class="action footer status-bar">
            <div class="client-version" ng-if="$btclient.version">
                {{$btclient.name}} {{$btclient.version}}
            </div>
            <div class="download-speed">
                <i class="ui blue arrow down icon"></i>
                {{ totalDownloadSpeed | speed }} <span ng-if="totalDownloaded">({{ totalDownloaded | bytes:2 }})</span>
            </div>
            <div class="upload-speed">
                <i class="ui orange arrow up icon"></i>
                {{ totalUploadSpeed | speed }} <span ng-if="totalUploaded">({{ totalUploaded | bytes:2 }})</span>
            </div>
            <div ng-if="$btclient.features.alternativeSpeedLimits" class="alternative-speed-limits-control">
                <a
                    href=""
                    class="alternative-speed-limits"
                    ng-class="{active: alternativeSpeedLimitsEnabled}"
                    data-role="alternative-speed-limits"
                    aria-label="Alternative rate limits"
                    title="Alternative rate limits"
                    ng-click="$event.preventDefault(); setAlternativeSpeedLimitsMode(!alternativeSpeedLimitsEnabled)"
                >
                    <i class="ui" ng-class="alternativeSpeedLimitsEnabled ? 'red tachometer alternate icon' : 'green tachometer alternate icon'"></i>
                </a>
                <div class="ui top center popup transition alternative-speed-limits-popup">
                    {{ alternativeSpeedLimitsEnabled ? 'Slow speed mode' : 'Normal speed mode' }}
                </div>
            </div>
            <div class="free-space" ng-if="$btclient.features.freeDiskSpace && freeDiskSpace != null">
                <i class="ui grey database icon"></i>
                Free: {{ freeDiskSpace | bytes }}
            </div>
        </div>
    </div>

    <context-menu id="contextmenu" bind="contextMenu" menu="$btclient.contextMenu" click="doContextAction" debug="debug">
    </context-menu>

    <modal
        id="deleteTorrentModal"
        size="tiny"
        approve="confirmDelete()"
        deny="cancelDelete()"
        on-hidden="cancelDelete()"
        ng-ref="deleteModalref">
        <div class="header">
            <i class="trash icon"></i>
            Confirm Delete
        </div>
        <div class="content">
            <p>{{ getDeleteConfirmationMessage() }}</p>
        </div>
        <div class="actions">
            <button type="button" class="ui black deny button">
                Cancel
            </button>
            <button type="button" class="ui red right labeled icon approve button">
                {{ deleteConfirmation.label || "Delete" }}
                <i class="trash icon"></i>
            </button>
        </div>
    </modal>

    <torrent-speed-modal modal-ref="speedLimitModalRef" on-saved="syncAfterTorrentMutation"></torrent-speed-modal>
    <torrent-set-ratio-modal modal-ref="setRatioModalRef" on-saved="syncAfterTorrentMutation"></torrent-set-ratio-modal>

    <add-torrent-modal
        torrents="pendingTorrentFiles"
        labels="labels"
        upload-torrent-action="uploadTorrent"
        upload-torrent-url-action="uploadTorrentURL">
    </add-torrent-modal>

    <torrent-files-modal on-saved="syncAfterTorrentMutation"></torrent-files-modal>
    <set-location-modal></set-location-modal>
</div>
