<div class="ui vertical menu">
    <a
        class="item"
        *ngIf="debugItem as item"
        [attr.data-role]="item.role || null"
        (click)="runMenuItem(item)">
        <i class="ui icon" *ngIf="item.icon" [ngClass]="item.icon"></i>
        {{ item.label }}
    </a>

    <ng-container *ngFor="let item of menu; trackBy: trackMenuItem">
        <a
            class="item"
            *ngIf="!item.menu"
            [attr.data-role]="item.role || null"
            (click)="runMenuItem(item)">
            <i class="ui icon" *ngIf="item.icon" [ngClass]="item.icon"></i>
            <div class="ui checkbox" *ngIf="item.checked !== undefined">
                <input type="checkbox" [checked]="item.checked">
                <label></label>
            </div>
            {{ item.label }}
        </a>

        <div
            class="ui context dropdown item"
            *ngIf="item.menu"
            (mouseenter)="toggleSubmenu($event, true)"
            (mouseleave)="toggleSubmenu($event, false)">
            <i class="ui dropdown icon"></i>
            {{ item.label }}
            <div class="menu">
                <a
                    class="item"
                    *ngFor="let child of item.menu; trackBy: trackMenuItem"
                    [attr.data-role]="child.role || null"
                    (click)="runMenuItem(child)">
                    <i class="ui icon" *ngIf="child.icon" [ngClass]="child.icon"></i>
                    <div class="ui checkbox" *ngIf="child.checked !== undefined">
                        <input type="checkbox" [checked]="child.checked">
                        <label></label>
                    </div>
                    {{ child.label }}
                </a>
            </div>
        </div>
    </ng-container>
</div>
