<nav class="title-bar-menu" aria-label="Application menu">
    <div class="title-bar-menu-root" *ngFor="let menu of titleBarMenus; let menuIndex = index">
        <button
            type="button"
            class="title-bar-menu-trigger"
            [class.active]="activeTitleBarMenu === menuIndex"
            (click)="toggleTitleBarMenu(menuIndex, $event)"
            (mousedown)="$event.preventDefault()"
            (mouseenter)="openTitleBarMenu(menuIndex)"
            aria-haspopup="true"
            [attr.aria-expanded]="activeTitleBarMenu === menuIndex"
        >
            {{ menu.label }}
        </button>
        <div
            class="title-bar-menu-dropdown"
            *ngIf="activeTitleBarMenu === menuIndex"
            (click)="$event.stopPropagation()"
            role="menu"
        >
            <div *ngFor="let item of visibleTitleBarMenuItems(menu)">
                <div *ngIf="item.type === 'separator'" class="title-bar-menu-divider" role="separator"></div>
                <button
                    *ngIf="item.type !== 'separator' && !item.submenu"
                    type="button"
                    class="title-bar-menu-item"
                    [class.disabled]="item.enabled === false"
                    [class.checked]="item.checked"
                    (click)="runTitleBarMenuItem(item, $event)"
                    (mousedown)="$event.preventDefault()"
                    role="menuitem"
                    [disabled]="item.enabled === false"
                >
                    <span class="title-bar-menu-check"></span>
                    <span class="title-bar-menu-label">{{ item.label }}</span>
                    <span class="title-bar-menu-accelerator">{{ formatTitleMenuAccelerator(item.accelerator) }}</span>
                </button>
                <div
                    *ngIf="item.type !== 'separator' && item.submenu"
                    class="title-bar-menu-submenu"
                    [class.disabled]="item.enabled === false"
                >
                    <button
                        type="button"
                        class="title-bar-menu-item title-bar-menu-submenu-trigger"
                        [class.disabled]="item.enabled === false"
                        [class.checked]="item.checked"
                        (mousedown)="$event.preventDefault()"
                        role="menuitem"
                        aria-haspopup="true"
                        [disabled]="item.enabled === false"
                    >
                        <span class="title-bar-menu-check"></span>
                        <span class="title-bar-menu-label">{{ item.label }}</span>
                        <span class="title-bar-menu-accelerator">{{ formatTitleMenuAccelerator(item.accelerator) }}</span>
                        <span class="title-bar-menu-submenu-arrow" aria-hidden="true"></span>
                    </button>
                    <div class="title-bar-menu-flyout" role="menu">
                        <div *ngFor="let child of visibleTitleBarMenuItems(item)">
                            <div *ngIf="child.type === 'separator'" class="title-bar-menu-divider" role="separator"></div>
                            <button
                                *ngIf="child.type !== 'separator'"
                                type="button"
                                class="title-bar-menu-item"
                                [class.disabled]="child.enabled === false"
                                [class.checked]="child.checked"
                                (click)="runTitleBarMenuItem(child, $event)"
                                (mousedown)="$event.preventDefault()"
                                role="menuitem"
                                [disabled]="child.enabled === false"
                            >
                                <span class="title-bar-menu-check"></span>
                                <span class="title-bar-menu-label">{{ child.label }}</span>
                                <span class="title-bar-menu-accelerator">{{ formatTitleMenuAccelerator(child.accelerator) }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
