<nav class="title-bar-menu" aria-label="Application menu">
    <div class="title-bar-menu-root" ng-repeat="menu in titleBarMenus track by menu.label">
        <button
            type="button"
            class="title-bar-menu-trigger"
            ng-class="{ active: activeTitleBarMenu === $index }"
            ng-click="toggleTitleBarMenu($index, $event)"
            ng-mousedown="$event.preventDefault()"
            ng-mouseenter="openTitleBarMenu($index)"
            aria-haspopup="true"
            ng-attr-aria-expanded="{{activeTitleBarMenu === $index}}">
            {{menu.label}}
        </button>
        <div class="title-bar-menu-dropdown" ng-if="activeTitleBarMenu === $index" ng-click="$event.stopPropagation()" role="menu">
            <div ng-repeat="item in visibleTitleBarMenuItems(menu) track by $index">
                <div ng-if="item.type === 'separator'" class="title-bar-menu-divider" role="separator"></div>
                <button
                    ng-if="item.type !== 'separator' && !item.submenu"
                    type="button"
                    class="title-bar-menu-item"
                    ng-class="{ disabled: item.enabled === false, checked: item.checked }"
                    ng-click="runTitleBarMenuItem(item, $event)"
                    ng-mousedown="$event.preventDefault()"
                    role="menuitem"
                    ng-disabled="item.enabled === false">
                    <span class="title-bar-menu-check"></span>
                    <span class="title-bar-menu-label">{{item.label}}</span>
                    <span class="title-bar-menu-accelerator">{{formatTitleMenuAccelerator(item.accelerator)}}</span>
                </button>
                <div ng-if="item.submenu" class="title-bar-menu-submenu">
                    <div class="title-bar-menu-submenu-label">{{item.label}}</div>
                    <button
                        ng-repeat="child in item.submenu track by $index"
                        type="button"
                        class="title-bar-menu-item title-bar-menu-submenu-item"
                        ng-class="{ disabled: child.enabled === false }"
                        ng-click="runTitleBarMenuItem(child, $event)"
                        ng-mousedown="$event.preventDefault()"
                        role="menuitem"
                        ng-disabled="child.enabled === false">
                        <span class="title-bar-menu-check"></span>
                        <span class="title-bar-menu-label">{{child.label}}</span>
                        <span class="title-bar-menu-accelerator">{{formatTitleMenuAccelerator(child.accelerator)}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
