notifications-center {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100000;
    display: block;
    width: 375px;

    .notification {
        margin: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .15);
        &.ng-enter { animation: notification-show .15s cubic-bezier(.175, .885, .32, 1.27499); }
        &.ng-leave {
            animation: notification-hide .1s cubic-bezier(.34, .07, 1, .2), notification-shrink .24s .12s cubic-bezier(.5, 0, 0, 1);
            animation-fill-mode: forwards;
        }
    }
}

@keyframes notification-show {
    from { opacity: 0; transform: perspective(350px) translate(0, -30px) rotateX(90deg); }
    to { opacity: 1; transform: perspective(350px) translate(0, 0) rotateX(0); }
}

@keyframes notification-hide {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(.5); }
}

@keyframes notification-shrink {
    from { max-height: 70px; opacity: 0; }
    to { max-height: 0; opacity: 0; }
}
