<div class="section">
    <span>{{ title }}</span>
    <a [attr.data-role]="clearRole" class="ui gray basic mini clear button" (click)="clear()">Clear</a>
</div>
<ul class="filter label">
    <span *ngIf="displayEmpty()" class="meta text">{{ emptyText }}</span>
    <li
        *ngIf="hasSpecialItem()"
        [attr.data-label]="itemAttribute === 'label' ? specialItemValue : null"
        [attr.data-tracker]="itemAttribute === 'tracker' ? specialItemValue : null"
    >
        <div
            *ngIf="itemAttribute === 'label'"
            class="ui circular label label-chip torrent-sidebar-label-chip torrent-sidebar-label-chip--empty"
            (click)="select(specialItemValue!)"
            [class.is-active]="isActive(specialItemValue!)"
        >
            <span class="label-chip-text">{{ itemText(specialItemValue!) }}</span>
            <span class="label-chip-active-dot" *ngIf="isActive(specialItemValue!)"></span>
        </div>
        <div
            *ngIf="itemAttribute !== 'label'"
            class="ui fluid torrent tag label"
            (click)="select(specialItemValue!)"
            [class.blue]="isActive(specialItemValue!)"
        >
            {{ itemText(specialItemValue!) }}
        </div>
    </li>
    <li
        *ngFor="let item of items; trackBy: trackItem"
        [attr.data-label]="itemAttribute === 'label' ? item : null"
        [attr.data-tracker]="itemAttribute === 'tracker' ? item : null"
    >
        <div
            *ngIf="itemAttribute === 'label'"
            class="torrent-sidebar-label-chip"
            [labelChip]="item"
            (click)="select(item)"
            [class.is-active]="isActive(item)"
        >
            <span class="label-chip-text">{{ itemText(item) }}</span>
            <span class="label-chip-active-dot" *ngIf="isActive(item)"></span>
        </div>
        <div
            *ngIf="itemAttribute !== 'label'"
            class="ui fluid torrent tag label"
            (click)="select(item)"
            [class.blue]="isActive(item)"
        >
            {{ itemText(item) }}
        </div>
    </li>
</ul>
