<a
    ng-repeat-start="item in actionItems track by $index"
    ng-if="item.type === 'button'"
    class="ui labeled icon button"
    ng-class="[item.color, {disabled: enabled && !item.alwaysActive}]"
    data-role="{{item.role}}"
    ng-click="invoke(item.click, item.label)"
>
    <i class="ui icon" ng-class="item.icon"></i>
    {{item.label}}
</a>

<span
    ng-if="item.type === 'labels'"
    labels-dropdown
    labels="labels"
    action="item.labelAction"
    enabled="enabled"
></span>

<action-header-dropdown
    ng-repeat-end
    ng-if="item.type === 'dropdown'"
    actions="item.actions"
    always-active="item.alwaysActive"
    color="{{item.color}}"
    enabled="enabled"
    label="{{item.label}}"
    on-action="invoke(action, label)"
    role="{{item.role}}"
></action-header-dropdown>
