<ng-container *ngFor="let item of actionItems">
    <a
        *ngIf="item.type === 'button'"
        class="ui labeled icon button"
        [ngClass]="[item.color || '', enabled && !item.alwaysActive ? 'disabled' : '']"
        [attr.data-role]="item.role"
        (click)="invoke(item.click, item.label)"
    >
        <i class="ui icon" [ngClass]="item.icon || ''"></i>
        {{ item.label }}
    </a>

    <span
        *ngIf="item.type === 'labels'"
        labels-dropdown
        [labels]="labels"
        [action]="item.labelAction"
        [enabled]="enabled"
    ></span>

    <div
        *ngIf="item.type === 'dropdown'"
        action-header-dropdown
        [actions]="item.actions || []"
        [alwaysActive]="item.alwaysActive || false"
        [color]="item.color"
        [enabled]="enabled"
        [label]="item.label"
        [role]="item.role"
        (actionSelected)="invoke($event.action, $event.label)"
    ></div>
</ng-container>
