<!DOCTYPE html>
<div class="wrapper" ng-controller="torrentsController">
    <div class="torrent sidebar">
        <ul class="nav">
            <li ng-click="filterByStatus('downloading')" ng-class="activeOn('downloading')">
                <i class="ui large blue arrow down icon"></i>
                Downloading
                <div class="ui torrent label">{{numInFilter('downloading')}}</div>
            </li>
            <li ng-click="filterByStatus('finished')" ng-class="activeOn('finished')">
                <i class="ui large green checkmark icon"></i>
                Finished
                <div class="ui torrent label">{{numInFilter('finished')}}</div>
            </li>
            <li ng-click="filterByStatus('seeding')" ng-class="activeOn('seeding')">
                <i class="ui large orange arrow up icon"></i>
                Seeding
                <div class="ui torrent label">{{numInFilter('seeding')}}</div>
            </li>
            <li ng-click="filterByStatus('stopped')" ng-class="activeOn('stopped')">
                <i class="ui large grey stop icon"></i>
                Stopped
                <div class="ui torrent label">{{numInFilter('stopped')}}</div>
            </li>
            <li ng-click="filterByStatus('error')" ng-class="activeOn('error')">
                <i class="ui large red remove icon"></i>
                Failed
                <div class="ui torrent label">{{numInFilter('error')}}</div>
            </li>
        </ul>
    </div>
    <div class="main-panel">
        <div class="action header">
            <a class="ui green labeled icon button" ng-class="{disabled: noneSelected()}" ng-click="doAction('start')">
                <i class="play icon"></i>
                Start
            </a>
            <a class="ui red labeled icon button" ng-class="{disabled: noneSelected()}" ng-click="doAction('stop')">
                <i class="stop icon"></i>
                Stop
            </a>
            <a class="ui yellow labeled icon button" ng-class="{disabled: noneSelected()}" ng-click="doAction('pause')">
                <i class="pause icon"></i>
                Pause
            </a>
            <div
                dropdown
                ref="labelsDrowdown"
                class="ui icon top left pointing dropdown button"
                ng-class="{disabled: noneSelected()}">
                <i class="tag icon"></i>
                <div class="menu">
                    <div class="header">Add Label</div>
                    <div class="item" ng-repeat="(label, value) in labels" ng-click="setLabel(label)">{{label}}</div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div infinite-scroll-parent="true" infinite-scroll="showMore()" infinite-scroll-distance="2">
                <table
                    id="torrentTable"
                    resizeable
                    mode="resizeMode"
                    container=".main-content"
                    class="ui single line unstackable selectable fixed compact torrent resize table">
                    <thead>
                        <tr>
                            <th id="colName">Name</th>
                            <th id="colSize" class="two wide">
                                Size</th>
                            <th id="colProgress" class="three wide">
                                Progress</th>
                            <th id="colLabel" class="one wide">
                                Label</th>
                            <th id="colAdded" class="two wide">
                                Date Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="torrent in arrayTorrents | limitTo:torrentLimit"
                            ng-class="{active: torrent.selected}"
                            ng-click="setSelected($event, torrent, $index)"
                            ng-right-click="showContextMenu($event, torrent, $index)"
                            repeat-done>
                            <td>
                                {{torrent.decodedName}}
                            </td>
                            <td>
                                {{torrent.size | bytes}}
                            </td>
                            <td>
                                <progress torrent="torrent"/>
                            </td>
                            <td>
                                {{torrent.label}}
                            </td>
                            <td>
                                {{torrent.dateAdded | date}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <context-menu bind="contextMenu" class="torrent context menu" id="contextmenu">
        <div class="ui vertical menu">
            <a class="item" ng-click="debug()">
                <i class="ui info icon"></i>
                Debug
            </a>
            <a class="item" ng-click="doContextAction('recheck')">
                <i class="ui checkmark icon"></i>
                Recheck
            </a>
            <a class="item" ng-click="doContextAction('forcerestart')">
                <i class="ui flag icon"></i>
                Force Start
            </a>
            <a class="item" ng-click="doContextAction('queueup')">
                <i class="ui arrow up icon"></i>
                Move Up Queue
            </a>
            <a class="item" ng-click="doContextAction('queuedown')">
                <i class="ui arrow down icon"></i>
                Move Down Queue
            </a>
            <a class="item" ng-click="doContextAction('remove')">
                <i class="ui remove icon"></i>
                Remove
            </a>
            <div class="ui context dropdown item">
                <i class="dropdown icon"></i>
                Remove And
                <div class="menu">
                    <a class="item" ng-click="doContextAction('removetorrent')">
                        Delete Torrent
                    </a>
                    <a class="item" ng-click="doContextAction('removedata')">
                        Delete Data
                    </a>
                    <a class="item" ng-click="doContextAction('removedatatorrent')">
                        Delete All
                    </a>
                </div>
            </div>
        </div>
    </context-menu>
</div>
