torrent-details-trackers-tab {
    .torrent-details-trackers,
    .torrent-details-trackers-content {
        flex: 1 1 auto;
        height: 100%;
        min-width: 0;
        min-height: 0;
    }

    .torrent-details-trackers {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .torrent-details-trackers-content {
        overflow: auto;

        > .ui.table {
            margin: 0;

            th,
            td { white-space: nowrap; }
        }
    }

    .torrent-details-tracker-url {
        min-width: 260px;
        max-width: 520px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
